<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>%TITLE%</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:100,400,700&amp;subset=latin-ext,vietnamese" />
  <style type="text/css">
    .footer {
      display: none;
    }
  </style>
</head>
<body>
  <main id="main"></main>
  <footer class="footer" >
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <span>
            Code with <a href="https://www.buymeacoffee.com/pierreneter" target="_blank">coffee</a>
            and
            <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16">
              <g stroke="none" stroke-width="1" fill-rule="evenodd">
                <path d="M12.958,1.03 C11.045,1.03 9.447,2.378 9.047,4.178 C8.631,2.375 7.026,1.03 5.102,1.03 C2.865,1.03 1.052,2.854 1.052,5.102 C1.052,11.598 9.057,14.94 9.057,14.94 C9.057,14.94 16.969,11.682 16.969,5.061 C16.969,2.833 15.174,1.03 12.958,1.03 L12.958,1.03 Z" fill="#434343" class="si-glyph-fill"></path>
              </g>
            </svg>
            by <a href="https://github.com/pierreneter" target="_blank">@pierreneter</a>
          </span>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
